[submodule "packages/foundry/lib/forge-std"]
	path = packages/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/lib/openzeppelin-contracts"]
	path = packages/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/foundry/lib/solidity-bytes-utils"]
	path = packages/foundry/lib/solidity-bytes-utils
	url = https://github.com/gnsps/solidity-bytes-utils
[submodule "packages/foundry/lib/uniswap-hooks"]
	path = packages/foundry/lib/uniswap-hooks
	url = https://github.com/openzeppelin/uniswap-hooks
[submodule "packages/foundry/lib/solady"]
	path = packages/foundry/lib/solady
	url = https://github.com/vectorized/solady
[submodule "packages/foundry/lib/eigenlayer-contracts"]
	path = packages/foundry/lib/eigenlayer-contracts
	url = https://github.com/Layr-Labs/eigenlayer-contracts
[submodule "packages/foundry/lib/hourglass-monorepo"]
	path = packages/foundry/lib/hourglass-monorepo
	url = https://github.com/Layr-Labs/hourglass-monorepo
[submodule "packages/foundry/lib/fhenix-contracts"]
	path = packages/foundry/lib/fhenix-contracts
	url = https://github.com/FhenixProtocol/fhenix-contracts
[submodule "packages/foundry/lib/cofhe-contracts"]
	path = packages/foundry/lib/cofhe-contracts
	url = https://github.com/FhenixProtocol/cofhe-contracts
[submodule "packages/foundry/lib/cofhe-mock-contracts"]
	path = packages/foundry/lib/cofhe-mock-contracts
	url = https://github.com/FhenixProtocol/cofhe-mock-contracts
